html, body {
    height: 100%;
}

#outter-container {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    background-color: transparent;
}

#outter-backdrop {
    position: absolute;
    content: '';
    background:#090000;
    width: 100%;
    height: 100%;
    z-index: -2;
}

#outter-container::before {
    position: absolute;
    content: '';
    background: url("../assets/landing-bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#outter-container.background-mask::before {
    height: 100px;
}

header {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    color: white;
    height: 100px;
    line-height: 100px;
}

nav {
    display: flex;
}

.nav-item {
    margin: 0 5px;
}

#content {
}

h2 {
    font-size: 50px;
    color: #9b744f;
    text-align: center;
    margin-top: 300px;
}

p {
    color: #9b744f;
    text-align: center;
    font-size: 20px;
    font-style: italic;
}